<center><h5>Room <%= @room.sub("room", "") %></h5></center>

<div class="container" style="width: 80%">
	<div class="row">
	  <div class="col-md-9">
	  	<div class="container">
			<div class="row">
		  		<div class="col-md-12">
		  			<img class="live-update" src="/live/room1.jpg" />
		  		</div>
		  	</div>
		  	<br />
		  	<div class="row">
		  		<div class="col-md-4">
		  			<img class="live-update" src="/live/room1.jpg" />
		  		</div>
		  		<div class="col-md-4">
		  			<img class="live-update" src="/live/room1.jpg" />
		  		</div>
		  		<div class="col-md-4">
		  			<img class="live-update" src="/live/room1.jpg" />
		  		</div>
		  	</div>
		  </div>
	  </div>

	  <div class="col-md-3">
	  	<div class="btn btn-large btn-primary col-md-12">Pic-In-Pic</div>
	  	<br /><br />
	  	<div class="btn btn-large btn-info col-md-12">Blank</div>
	  </div>
	</div>
</div>
<br />

<script type="text/javascript">
	function updateScreenshots() {
		$('.live-update').each(function() {
			$(this).attr('src', $(this).attr('src') + "?time=" + Date.now())
		});

		setTimeout(updateScreenshots, 250);
	}

	$(document).ready(function() {
		updateScreenshots();
	})
</script>